Consider if new Q-Block options can be integrated in draft

See https://datatracker.ietf.org/doc/html/draft-ietf-core-new-block-14#section-4.8

> Servers MUST ignore multicast requests that contain the Q-Block2 Option. As a reminder, Block2 Option can be used as stated in Section 2.8 of [RFC7959].