Possible use of realm-local and global scope as part of the update

Like RFC 7390 already did, this document is also considering realm-local scope and global scope as possible IP multicast scope to use.

However, Section 12.8 "Multicast Address Registration" of RFC 7252 says:

> CoAP needs the Link-Local and Site-Local scopes only.

RFC 7346 defining the realm-local scope came later than RFC 7252. Thus, it is worth including the possible use of realm-local scope and global scope as part of the update to RFC 7252 that this document is providing, as summarized in its Section 1.3.